SECRET_KEY=changeme
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
PORT=3000

POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=job_tracker
POSTGRES_HOST=localhost
POSTGRES_PORT=5445

CORS_ALLOWED_ORIGIN=http://localhost:3100
