asgiref==3.12.1
Django==6.0.7
django-cors-headers==4.9.0
django-filter==26.1
djangorestframework==3.17.1
djangorestframework-camel-case==1.4.2
psycopg==3.3.4
pydantic==2.13.4
python-dotenv==1.2.2
pypdf==6.14.2
reportlab==4.4.4
sqlparse==0.5.5
typing_extensions==4.16.0
